body{
  font-family: "Montserrat";
  text-align: center;
}
h1, h2, h3, h4{
font-family: "Montserrat-Bold";
}

/*heading*/

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
padding: 7% 15%;
}

/* sections */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}

@media (max-width:991px) {

  .title-img{
      transform: rotate(0deg);
    }
  #title{
    text-align: center;
  }

}


/* navigation bar */
.navbar{
  padding-:0 0 2.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/*title section*/

.container-fluid{
padding: 3% 15%;
text-align: left;
}
/* Download-button */

.Download-button{
  margin: 5% 3% 5% 0;
}

/*image*/
.title-img{
  transform: rotate(25deg);
  width: 60%;
  padding-left: 30px;
}

/* features-des */
#features{
  position: relative;
}
.features-h3{
  font-size: 1.5rem;
}

.features-des-img{
  font-size: 2.5rem;
  color: #ef8172;
  margin-bottom: 15px;
}
.features-des-img:hover{
  color: #ff4c68;
}
.features-p{
  color: #8f8f8f;
}

/* testimonials-section */
#testimonials{
  background-color: #ef8172;
}
.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}
.carousel-item{
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */

#pricing{
}
.pricing-column{
  padding: 3% 2%;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}


/* call to Action */


/* footer */

#footer{
  padding: 7% 15%;
}
.footer-logo{
  margin: 15px;
}
